export(
    adaptorAlign, chopAndFilterReads, UMIRetriev, 
    alignPrep, readOverlap, clusterGrouping, clusterReads,
    UMIfilt, UMIgraphIndex,
    MSA, consSeqMajority
)

importFrom("muscle", muscle)
importFrom("GenomicAlignments", cigarWidthAlongReferenceSpace, cigarWidthAlongQuerySpace)
importFrom("GenomicFeatures", exons)
importFrom("AnnotationDbi", mapIds)
importFrom("ShortRead", readFastq, sread, id)
importFrom("tcR", reverse.string)
importFrom("seqinr", read.fasta)
importFrom("stringdist", stringdist)
importFrom("igraph", components, graph.adjacency, membership)





# packages in "Depends":
import(GenomicAlignments)
import(GenomicRanges)
import(Biostrings)
import(S4Vectors)
